.catchcopy {
    margin-top: 18rem;
    margin-right: 3rem;
    text-align: right;
    font-size: 1dvw;
    .sub-catchcopy {
        margin-right: 0.4em;
        font-size: 3.2em;
    }
    .main-catchcopy {
        font-size: 5em;
        font-weight: bold;
    }
    .detail-catchcopy {
        font-size: 1.4em;
        font-weight: 480;
        letter-spacing: -1px;
        line-height: 1em;
        padding-top: 1em;
        margin-right: 1em;
    }
}

/* タブレット用 */
@media screen and (max-width: 959px) {
    .catchcopy {
        margin-top: 1rem;
        margin-right: 1rem;
        font-size: 1.5dvw;
        .sub-catchcopy {
            font-size: 2.5em;
        }
        .main-catchcopy {
            font-size: 3.5em;
        }
        .detail-catchcopy {
            font-size: 1.7em;
            font-weight: 480;
            letter-spacing: -1px;
        }
    }
}

/* スマホ用 */
@media screen and (max-width: 480px) {
    .catchcopy {
        margin-top: 1rem;
        margin-right: 0.5em;
        font-size: 1.5dvw;
        .sub-catchcopy {
            font-size: 3em;
        }
        .main-catchcopy {
            font-size: 3.9em;
        }
        .detail-catchcopy {
            font-size: 1.7em;
            font-weight: 480;
            letter-spacing: -1px;
        }
    }
}
