@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-bg {
    /* From https://css.glass */
    background: rgba(225, 225, 225, 0.34);
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    padding: 2.8vh 0;
    // border-bottom: 1px solid #111;
}

header {
    z-index: 1000;

    .negymans-logo {
        margin-left: 2.4rem;
        width: 14vw;
    }


    .header-right-content {
        font-size: 3vw;
        margin-top: 0.6vh;

        .negymans-button {
            width: 27em;
            height: 4.8em;
            margin-right: 3em;

            &:before {
                width: 10em;
                height: 10em;
            }
        }

        .contents-button {
            width: 18em;
            height: 4.8em;
            margin-right: 4em;

            &:before {
                width: 10em;
                height: 10em;
            }
        }
    }
}

/* 文字の後ろについている青色の背景 */
.text-blue-bg {
    display: inline-block;
    line-height: 1.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 0.1em;
    background: #70e5ff;
    font-weight: bolder;
}

/* 文字を枠線だけにする */
.text-facing {
    letter-spacing: -2px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 0.04em #111e;
}

/* ボタンのスタイル */////////////////////////////////////
.link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10em;
    position: relative;
    letter-spacing: 0.05em;
    font-size: 0.16em;
    transition: initial;
    overflow: hidden;
    text-decoration: none;
    transition: 0.5s ease all;

    /* カラーリング */
    &.transparent-button {
        border: 0.13em solid #111e;
        background: transparent;

        a:active {
            background: #555555;
        }

        p {
            color: #111e;
        }

        &:before {
            background: #111e;
        }

        &:hover {
            p {
                color: #fff;
            }

            .link-button-icon {
                filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
            }
        }
    }

    &.black-button {
        border: none;
        background: #111e;

        a:active {
            background: #555555;
        }

        p {
            color: #ffffff;
        }

        &:before {
            background: #70e5ff;
        }

        &:hover {
            p {
                color: #111e;
            }

            .link-button-icon {
                filter: brightness(0);
            }
        }
    }

    p {
        font-weight: bold;
        z-index: 1000;
        transition: 0.6s ease all;
        font-size: 1.8em;
    }

    .link-button-icon {
        transition: 0.6s ease all;
        width: 2vh;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 50%;
        margin: auto;
        transform: scale(0);
        transition: 0.8s ease all;
    }

    &:hover {
        background: transparent;
        p {
            transition: 0.6s ease all;
        }

        .link-button-icon {
            transition: 0.6s ease all;
        }

        &:before {
            transform: scale(4.2);
        }
    }
}
//////////////////////////////////////////////////////

.footer{
    background-color: #111;
    height: 160px;
    color: #fff;
    padding: 20px 0 0 20px;
    font-size: 1.0rem;
    .footer-content{
        display: flex;
        p{
            width: 120px;
            text-align: right;
            margin-right: 20px;;
            margin-bottom: 3px;   
        }
    }
    .copy-right{
        margin-top: 20px;
        text-align: right;
    }
}

    

        /* タブレット用 */
        @media screen and (max-width: 959px) {
            .negymans-logo {
                width: 150px;
                height: 40px;
            }
        }
    
        /* スマホ用 */
        @media screen and (max-width: 480px) {
            .negymans-logo {
                width: 100px;
            }
            .footer{
                height: 120px;
                font-size: 0.6rem;
                .footer-content{
                    p{
                        width: 80px;
                        margin-right: 10px;
                    }
                }
            }
    
        }