@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-bg {
    /* From https://css.glass */
    background: rgba(198, 198, 198, 0.34);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
}

/* 文字の後ろについている青色の背景 */
.text-blue-bg{
    display: inline-block;
    line-height: 1.3em;
    padding-left:0.5em;
    padding-right:0.46em;
    background: #70E5FF;
    font-weight: bolder;
}

/* 文字を枠線だけにする */
.text-facing{
    letter-spacing: -2px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 0.05em #111111;
}


/* ボタンのスタイル中心から黒くなる *////////////////
.url {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 2.6em;
    border: 0.13em solid #111111;
    border-radius: 2em;
    background-color: transparent;
    position: relative;
    letter-spacing: 0.05em;
    font-size: 0.16em;
    transition: initial;
    overflow: hidden;
    text-decoration: none;
    p {
        color: #111111;
        font-weight: bold;
        z-index: 1000;
        transition: 0.6s ease all;
        font-size: 1.8em;
    }
}

/* ボタンの上にマウスを持ってきたとき */
.url:hover p {
    color: #fff;
    transition: 0.6s ease all;
}
.url:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    margin: auto;
    width: 10em;
    height: 10em;
    background: #111111;
    transform: scale(0);
    transition: 0.8s ease all;
}
.url:hover:before {
    transform: scale(4.2);
}
a:active {
    background-color: #2e2e2e;
}
/************************************************************///ここまで