@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-bg {
    /* From https://css.glass */
    background: rgba(198, 198, 198, 0.34);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
}

.text-blue-bg{
    /* 文字の後ろについている青色の背景 */
    display: inline-block;
    line-height: 8rem;
    padding-left:1.6rem;
    padding-right:1.6rem;
    background: #70E5FF;
}

.text-facing{
    /* 文字を枠線だけにする */
    letter-spacing: -2px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 0.16rem #111111;
}