/*widthの標準値*/
$mainWidth: 1500px;
$maxFont: 3.5rem;

/*newsListのスタイル*/
.list{
        .container {
            width: $mainWidth;
            margin: 0 auto;
            padding: 50px 0;
            display: flex;
            border-bottom: 1px solid #000; 
            .title {
                margin-left: 40px;
                    width: 35%;
                    font-size: $maxFont;
                    font-weight: bold;
                }
            .rightContent{
                margin-left: 70px;
                width: 40%;
                .explanation {
                    font-size: $maxFont*0.4;
                    }
            
                .unContent {
                    display: flex;
                    margin-top: 20px;
                    
            
                    .date {
                        font-size: 1rem;
                        color: #000;
                    }
            
                    .url {
                        margin-left: $mainWidth/4;
                        font-size: 1rem;
                        color: #000;
                    }
                }
            }


            
        }
}

